*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: #e9e9e9;
}

.container{
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
}

.wrapper{
    height: 36%;
    position: relative;
    top: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.card{
    width: 25%;
    height: 85px;
    margin: 8px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    background-color: rgb(80, 80, 80);
    border: 2px solid rgb(24, 24, 24);
}

.card:hover{
    background-color: rgb(114, 114, 114);
}

.card h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(209, 209, 209);
    font-size: 1.2em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}