<header>
    <div class="container_nav">
        <nav class="navbar">
            <ul>

                {% if user.is_authenticated %}
                    <a href="{% url 'agenda:registro' %}">
                        <li {%if atualRegistro%}class="atualPage"{%endif%}>Registrar Cliente</li>
                    </a>

                    <a href="{% url 'agenda:consulta' %}">
                        <li {%if atualConsulta%}class="atualPage"{%endif%}>Consultar Agenda</li>
                    </a>
                    <a href="{% url 'agenda:conta' user.id %}">
                        <li {%if atualConta%}class="atualPage"{%endif%}>Conta</li>
                    </a>
                {% endif %}

            </ul>
        </nav><!--navbar-->
    </div><!-- container-->
</header>