@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

html, body{
    height: 100%;
    background-color: #cbbaac;
}

.container{
    margin: 0 auto;
    max-width: 900px;
}


/* PRINCIPAL*/
#title{
    margin-top: 60px;
    color: rgb(225 225 225);
    font-size: 4em;
    z-index: 2;
    position: relative;
}

.wrapper{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.title{
    width: 200px;
    height: 90px;
    padding: 0 10px;
    background-color: #292a2dee;
}

.filtro{
    padding: 3px 0;
}

.filtro2{
    width: 100%;
    display: inline-block;
}

input{
    height: 35px;
}

.filtro input[type=text]{
    color: #5a5a5a;
    background-color: rgb(243, 243, 243);
    width: 170px;
    border: none;
    padding: 0 13px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border-radius: 6px;
}

#valor{
    width: 80px;
    text-align: center;
    float: left;
}

#descricao{
    width: 65%;
    margin: 0 8px;
    float: left;
}

.btn{
    color: rgba(255, 255, 255, 0.877);
    height: 35px;
    width: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #343335d2;
}

.btn:hover{
    background-color: #343335;
}

#btnRegistraFiltro{
    position: absolute;
    top: 45px;
    left: calc(100% - 43px);
}

.filtro select{
    height: 35px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #4e4e4ebd;
}

input[type=date], input[type=time]{
    padding: 0 5px;
    outline: none;
}

table{
    position: relative;
    top: 115px;
}

table, th{
    color: #292a2da6;
    font-size: 1.1em;
    position: relative;
    padding: 5px 20px;
    border-collapse: collapse;
    border-bottom: 1px solid #4e4e4ebd;
}

table th:first-of-type::before{
    content: '';
    position: absolute;
    padding: 13px 0;
    top: 0;
    left: 0;
    border: none;
    border-collapse: collapse;
}

table th::before{
    content: '';
    position: absolute;
    padding: 6px 0px;
    top: 7px;
    left: 0;
    border: 1px solid #4e4e4ebd;
    border-collapse: collapse;
}











/* Media Queries */
@media screen and (max-width: 520px){
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filtro{
        border: none;
        padding: 5px;
    }

    .filtro2 input{
        margin-left: 12px;
    }

    #client{
        width: 100%;
        display: block;
        margin: 5px 0;
    }

    #btn-confirma{
        width: 99%;
        display: block;
        position: relative;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}


















#background{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(32, 32, 32, 0.753);
}

#registraFiltro{
    display: none;
    z-index: 100;
    z-index: 99;
    color: white;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 40px black;
    transform: translate(-50%, -50%);
    background-color: rgb(54, 54, 54);
}

#registraFiltro label, #registraFiltro input{
    display: block;
    padding: 2px 5px;
    border: none;
    border-radius: 2px;
    text-align: center;
}

#registraFiltro .wrap{
    position: relative;
    top: 20px;
    text-align: center;
}

#registraFiltro .wrap span{
    color: rgba(255, 255, 255, 0.589);
    position: absolute;
    top: -50px;
    left: -20px;
}

#registraFiltro label{
    margin-top: 25px;
    margin-bottom: 5px;
}

#registraFiltro input{
    margin: 0 auto;
}

#registraFiltro button{
    width: 150px;
    height: 45px;
    margin-top: 4px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    color: white;
    margin: 0 10px;
    margin-top: 70px;
    background-color: #333333c0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.767);
}

#registraFiltro button:hover{
    background-color: #2c2c2c;
}


#registraFiltro button:nth-of-type(2){
    bottom: 10px;
}