{% load static %}

<!doctype html>
<html lang="pt-br">
    <head>
        <title>Sua conta</title>
        <meta charset="utf-8">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/conta.css' %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/navbar.css'   %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/normalize.css'%}">
        <meta name="viewport"       content="width=device-width, initial-scale=1.0">
        <meta name="author"         content="@_josephsl">
        <link rel="icon" type="/" width="25" href="{% static '/img/icon.png' %}"/>
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/944a9ba2fe.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        {% include 'agenda/partials/header.html' %}

        <main>
            <div id="container" class="container">
                <h2 id="title"><span class="title">Sua</span><span class="title-conta">Conta</span></h2>
                
                <div class="wrapper-tabela">
                    <div class="tabela">
                        <table>
                            <tr>
                                <td><h3>Username:</h3></td>
                                <td><p>{{nome}}</p></td>
                            </tr>
                            <tr>
                                <td><h3>Senha:</h3></td>
                                <td><p style="margin-top: 12px;">******</p></td>
                            </tr>
                            <tr>
                                <td class="botoes" colspan="2">
                                    <button onclick="AlterarDados()">Alterar Dados</button>
                                    <form action="{% url 'agenda:logout' %}">
                                        <button class="encerrarSessao">Encerrar Sessão</button>
                                    </form>
                                </td>
                        </table>
                    </div><!--tabela-->
                    <div class="svg">
                        <img src="{% static 'svg/account.svg' %}" alt="">
                    </div><!--svg-->
                </div><!--wrapper-->
            </div><!--container-->
            <div id="background">               
                <section id="alteraDados">
                    <form action="{% url 'agenda:conta' user.id %}" method="POST">{% csrf_token %}
                        <div class="wrap">                            
                            <span>*Alterar Dados</span>
                            <label for="username">Novo Username*</label>
                            <input type="text" name="username">

                            <label for="password">Nova Senha*</label>
                            <input type="text" name="password">
                        </div><!--wrap-->
                        <div class="botoesAlteraDados">
                            <button name="sair"   value="off" id="btn_sair" onclick="BotaoSair()">Sair</button>
                            <button name="salvar" value="salvar">Salvar</button>
                        </div><!--botoesAlteraDados-->
                    </form>
                </section>
            </div><!--background-->
        </main>
    </body>
    <script src="{% static 'js/script.js' %}"></script>
</html>