{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>Registro de Clientes</title>
        <meta charset="utf-8">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/registro.css' %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/navbar.css'   %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/normalize.css'%}">
        <meta name="viewport"       content="width=device-width, initial-scale=1.0">
        <meta name="author"         content="@_josephsl">
        <link rel="icon" type="/" width="25" href="{% static '/img/icon.png' %}"/>
        <!-- fontawesome -->
        <script src="https://kit.fontawesome.com/944a9ba2fe.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        {% include 'agenda/partials/header.html' %}

        <main>
            <div id="container" class="container">
                <h2 id="title"><span class="title">Registrar</span> Cliente</h2>
                
                <div class="wrapper">
                    <form action="{% url 'agenda:registro' %}" method="POST">{% csrf_token %}
                        <div class="filtro">
                            <input type="text" id="client" name="client" placeholder="Cliente">
        
                            <input type="time" id="time" name="time">
                            <input type="date" id="date" name="date">
                            <select name="category" id="">
                                <option value="">Serviço</option>

                                {% for categoria in categorias %}
                                    <option value="{{categoria.categoria}}">{{categoria.categoria}}</option>
                                {% endfor %}
                            </select>
                        </div><!--filtro-->
                        <div class="filtro filtro2">
                            <input type="text" name="valor"      id="valor"     placeholder="Valor">
                            <input type="text" name="description" id="descricao" placeholder="Descrição">
                            <button onclick="btnConfirma()" name="btn-confirma" id="btn-confirma" value="off" class="btn"><i class="fa-solid fa-check"></i></button>
                        </div><!--filtro-->
                    </form>
                    <button onclick="RegistraFiltro()" value="off" id="btnRegistraFiltro" name="registraFiltro" class="btn btn-editar-categoria">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </div><!--wrapper-->
            </div><!--container-->


            <div id="background">               
                <section id="registraFiltro">
                    <form action="{% url 'agenda:registro' %}" method="POST">{% csrf_token %}
                        <div class="wrap">                            
                            <span>*Registrar Nova Categoria:</span>
                            <label for="novaCategoria">Nova categoria*</label>
                            <input type="text" name="novaCategoria">
                        </div><!--wrap-->
                        <div class="botoesAlteraDados">
                            <button name="sair"   value="off" id="btn_sair" onclick="BotaoSair()">Sair</button>
                            <button name="salvar" value="salvar">Salvar</button>
                        </div><!--botoesAlteraDados-->
                    </form>
                </section>
            </div><!--background-->


        </main>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>